.Blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Blog-card{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin:20px;
    background-color:#e6f3ff;
  }

.Blog-header {
    background-color: #9999ff;
    color: white;
    margin:5px;
    border-radius: 5px;
  }

.Blog-container {
    margin:3px;

  }

